<mat-toolbar>
  <mat-toolbar-row>
    <div flex layout="row" layout-align="start center">
      <mat-icon class="push-left-sm push-right">home</mat-icon>
      <span class="push-left-xs">Homepage</span>
      <span flex></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="60">
    <mat-card>
      <mat-card-title>Products Sales</mat-card-title>
      <mat-card-subtitle>usage stats for our products</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        card content
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
      <mat-card-title>Customer Activity</mat-card-title>
      <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        card content
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div flex-gt-sm="40">
    <mat-card>
      <mat-card-title>Alerts</mat-card-title>
      <mat-card-subtitle>Items requiring attention</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        card content
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
      <mat-card-title>Favorites</mat-card-title>
      <mat-card-subtitle>Your favorite products</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        card content
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>